body{
     background-color: black;
}
 .logo{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
     height: 40%;
     margin-top: -10%;
     margin-bottom: -5%;
}
 .wrappe {
     display: flex;
     justify-content: center;
}
 .ctar {
     display: flex;
     padding: 10px 45px;
     text-decoration: none;
     font-family: 'Poppins', sans-serif;
     font-size: 40px;
     color: white;
     background: #4E2F61;
     transition: 1s;
     box-shadow: 6px 6px 0 black;
     transform: skewX(-15deg);
}
 .ctar:focus {
     outline: none;
}
 .ctar:hover {
     transition: 0.5s;
     box-shadow: 10px 10px 0 #B25B6A;
}
 .ctar span:nth-child(2) {
     transition: 0.5s;
     margin-right: 0px;
}
 .ctar:hover span:nth-child(2) {
     transition: 0.5s;
     margin-right: 45px;
}
 span {
     transform: skewX(15deg);
}
 span:nth-child(2) {
     width: 20px;
     margin-left: 30px;
     position: relative;
     top: 12%;
}
/**************SVG****************/
 path.one {
     transition: 0.4s;
     transform: translateX(-60%);
}
 path.two {
     transition: 0.5s;
     transform: translateX(-30%);
}
 .ctar:hover path.three {
     animation: color_anim 1s infinite 0.2s;
}
 .ctar:hover path.one {
     transform: translateX(0%);
     animation: color_anim 1s infinite 0.6s;
}
 .ctar:hover path.two {
     transform: translateX(0%);
     animation: color_anim 1s infinite 0.4s;
}
/* SVG animations */
 @keyframes color_anim {
     0% {
         fill: white;
    }
     50% {
         fill: #B25B6A;
    }
     100% {
         fill: white;
    }
}
 a{
     font-size: 1.5em;
     text-decoration: none;
     color: #fff;
}
 a:hover, a:focus{
     color: #0088a9;
}
 .nav_title{
     color: #fff;
     font-size: 1.7em;
     background: -webkit-linear-gradient(90deg, rgba(178,91,106,1) 19%, rgba(78,47,97,1) 70%);
     padding: 4px;
     border-radius: 18px;
}
 .to_index{
     color: #fff;
     font-size: 1em;
     background: -webkit-linear-gradient(90deg, rgba(178,91,106,1) 19%, rgba(78,47,97,1) 70%);
     padding: 4px;
     border-radius: 18px;
     text-decoration: none;
}
 .more{
     color: Black;
}
 @keyframes swing {
     0% {
         transform: rotate(-15deg);
    }
     50% {
         transform: rotate(15deg);
    }
     100% {
         transform: rotate(-15deg);
    }
}
 h1 {
     transform-origin: 50% 0;
     animation: swing 4s ease-in-out infinite;
     color: white;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-bottom: 5%;
     font-size: 3em;
}
